*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
   /* background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
    font-size: 12px;*/
    background-color: #000;
    overflow: hidden;
  }
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  /*
  .background {
    display: flex;
    min-height: 100vh;
  }
*/

/*hero */
  .hero{
    position: absolute;
    bottom: 0;
    z-index: -1;
    max-width: 50%;
    
}

.section-title{
  color:crimson;
}
.section-title span{
  color:#ddd
}

.hero img{
   max-width: 100%;
   filter: brightness(70%);
   overflow: hidden;
   
}

/*hero end*/
  



  @media screen and (max-width:500px) {

    .hero{
        top:40%;
        right:35%;
        transform: translateY(-50%);
        transform: translateX(50%);
        
    }
    
    
}
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }

  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }

    .hero{
        top:40%;
        transform: translateY(-50%);
        transform: translateX(40%);
        
    }
  }


  @media screen and (max-width:786px) {

    .hero{
        top:30%;
        right:35%;
        transform: translateY(-50%);
        transform: translateX(40%);
        
    }
    
}

@media screen and (max-width:820px) {

    .hero{
        top:30%;
        right:35%;
        transform: translateY(-50%);
        transform: translateX(40%);
        
    }
    
}

@media screen and (max-width:912px) {

    .hero{
        top:30%;
        transform: translateY(-50%);
        transform: translateX(20%);
        
    }
    
}



@media screen and (max-width:1180px) {

    .hero{
        top:30%;
        transform: translateY(-50%);
        transform: translateX(30%);
        
    }
    
}

@media screen and (max-width:1280px) {

    .hero img{
        top:50%;
        transform: translateY(-50%);
        transform: translateX(-15%);
        
    }
    
}

@media screen and (max-width:1366px) {

    .hero{
        top:30%;
        transform: translateY(-50%);
        transform: translateX(20%);
        
    }
    
}
  


/* contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#contact .contact-items {
  width: 400px;
}

#contact .contact-item {
  align-items: center;
  display: flex;
  width: 60%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  /*margin: 30px;*/margin: 0 auto;     /**//**//**/
  justify-content: center;
  flex-direction: column;
/*  box-shadow: 0px 0px 25px 0 #0000009c;*/
  transition: .3s ease box-shadow;
  margin-top: 5rem;
  /*this for glass*/
background: rgba(255, 255, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}


/*
 #contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000009c;
  /*color: crimson;*/
 /* transition: .4s ease;
  background-color:rebeccapurple;
}
*/

/**//**//**//**//**//**/
/*the new part for contact  using form */

.contact-item{
min-width:60%;
}

.contact-item .form-group input{
padding:10px;
margin:10px 0;
display: grid;
grid-template-columns: repeat(2, 1fr);
background-color: yellow;  /*now im removing the input and ll add underline*/
border: none;
border-bottom: 1px solid #888;
background-color: transparent;
}

input, textarea{

min-width:100%;
padding:15px; 
border-radius: 5px;
border:none;
background-color: transparent;
margin-bottom: 1rem;
color:#ddd;
}

input::placeholder{
padding:10px;
}

.btn-form{
cursor: pointer;
font-weight: 600;
padding: .4rem 3rem;
font-size: 1rem;
border: none;
background: rgba(255, 255, 255, 0.13);
color:#fff;
transition: all .5s ease-in-out;
border-radius: .3rem;
}
.btn-form:hover{
letter-spacing: 1px;
font-weight: 700;
transition: .9s;
text-decoration: underline;
color: black;
background-color: #fff;
}

@media(min-width:820px){


input, textarea{

  min-width:500px;
  padding:10px;
  border-radius: 5px;
 }

 input::placeholder{
   
  padding: 10px;
 }
}


/*End contact Section */

.hero{
  background-color: ;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  transform: translateX(50%);
}

@media screen and (max-width: 376px) {
  .hero img{
    top:40%;
        position: relative;
         right:50px;
        transform: translateY(10%);
        transform: translateX(-30%);
  }

  #contact .contact-item{
   width:80%;
  }
}




@media screen and (max-width: 415px) {
  .hero img{
    top:40%;
        position: relative;
        right:50px;
        transform: translateY(10%);
        transform: translateX(-30%);
  }

  #contact .contact-item{
   width:80%;
  }
}


@media screen and (max-width: 821px) {
  .hero img{
    top:30%;
        position: relative;
         
        transform: translateY(10%);
        transform: translateX(-30%);
  }

  #contact .contact-item{
   width:80%;
    margin-top: 15rem;
  }
   
}


@media screen and (max-width: 918px) {
  .hero img{
    top:30%;
        position: relative;
         
        transform: translateY(20%);
        transform: translateX(-5%);
  }

  #contact .contact-item{
   width:80%;
    margin-top: 5rem;
  }

   
}